<div class="row">
    <div class="col-md-12">
        <div class="cell">
            <h3>Elasticsearch Query Browser</h3>
            <form class="query-browser" ng-submit="querySubmit()">
                <div class="form-group">
                    <input type="text" class="form-control query-string-input" ng-model="query.string" placeholder="Enter your query...">
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="query.node" ng-options="task.id as task.id for task in tasks">
                        <option value="">Any</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-default" ng-click="resetQuery()">Reset</button>
                <button type="button" class="btn btn-default" ng-click="displayRawResults = !displayRawResults" ng-show="query.results.total > 0 && !displayRawResults">Show raw results</button>
                <button type="button" class="btn btn-default" ng-click="displayRawResults = !displayRawResults" ng-show="query.results.total > 0 && displayRawResults">Hide raw results</button>
            </form>

            <hr ng-show="query.results.total > 0">

            <div class="alert alert-danger" role="alert" ng-show="query.error">
                {{query.error}}
            </div>

            <div ng-show="query.results.total > 0">
                <div class="search-results" ng-show="displayRawResults">
                    <json-formatter json="query.results" open="3"></json-formatter>
                </div>
                <div class="table-responsive" ng-show="!displayRawResults">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>_index</th>
                            <th ng-repeat="(key, value) in query.results.hits[0]._source">{{key}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="result in query.results.hits track by $index">
                            <td>{{result._id}}</td>
                            <td>{{result._index}}</td>
                            <td ng-repeat="value in result._source">{{value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <p ng-show="query.results.total == 0">
                No results found
            </p>

        </div>
    </div>
</div>