<div class="row">
    <div class="col-md-12">
        <div class="cell">
            <h3>Horizontal Scaling</h3>
            <form class="scaling form-inline" ng-submit="scalingSubmit()">
                <div class="form-group">
                    <input type="text" class="form-control scaling-input" ng-model="scaling.nodes">
                </div>
                <button type="submit" class="btn btn-primary">Scale</button>
            </form>
            <div class="alert alert-danger" role="alert" ng-show="scaling.result.error">
                {{scaling.result.error}}
            </div>
            <br>
            <h3>Shards Distribution Across Nodes</h3>
            <div class="table-responsive">
                <div class="shards-nodes">
                    <div class="panel panel-default" ng-repeat="(node_id, shards) in shardsByNodes track by $index">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{nodes[node_id].name}}</h4>
                            <i>{{node_id}}</i>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="shard in shards | orderBy:['index','-primary', 'shard']" ng-class="{ 'shard-primary': shard.primary, 'shard-replica': !shard.primary, 'shard-relocating': shard.relocating_node, 'panel': true, 'panel-default': true }" style="border-color: #{{shardsColors[shard.index+'-'+shard.shard]}};">
                                <div class="panel-heading" style="background-color: #{{shardsColors[shard.index+'-'+shard.shard]}}; border-color: #{{shardsColors[shard.index+'-'+shard.shard]}};">
                                    <h5 class="panel-title" ng-show="shard.primary">{{shard.index}} {{shard.shard}}</h5>
                                    <h5 class="panel-title" ng-hide="shard.primary">{{shard.index}} {{shard.shard}}</h5>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        <strong>Shard Type:</strong> <span ng-show="shard.primary">PRIMARY</span><span ng-hide="shard.primary">REPLICA</span><br>
                                        <strong>Shard State:</strong> {{shard.state}}<br>
                                        <span class="label label-danger" ng-show="shard.relocating_node">Relocation in progress...</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
