<div class="row">
    <div class="col-md-12">
        <div class="cell">
            <div ng-hide="$parent.tasks.length">
                <p>No tasks running.</p>
            </div>
            <div ng-show="$parent.tasks.length" class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Task ID</th>
                        <th>Name</th>
                        <th>Hostname</th>
                        <th>IP address</th>
                        <th>Transport IP</th>
                        <th>Started</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="task in $parent.tasks track by task.id" class="task-list-item">
                        <td><a href="http://{{task.hostname}}">{{task.id}}</a></td>
                        <td>{{task.name}}</td>
                        <td><a href="http://{{task.hostname}}" target="_blank">{{task.hostname}}</a></td>
                        <td><a href="http://{{task.http_address}}" target="_blank">{{task.http_address}}</a></td>
                        <td>{{task.transport_address}}</td>
                        <td><time am-time-ago="task.started_at"></time></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>